h1 Question 2
  p.med Does Chick-Fil-A exist in the tundra? 
    div.col-xs-4
      ul.nav.nav-pills.nav-stacked
          li
        a(href="http://www.f3.surge.sh").btn.btn-success TRUE
          li
        a(href="nil").btn.btn-success FALSE
