html
  font-family "Menlo", "Monaco", "Helvetica", "Arial", sans-serif

h1, h2, h3, h4, h5, h6
  text-align center

p
  padding 0.375em

.nav
  text-align center

.btn, .btn:hover
  font-weight 900    
  color #073642

.border
  margin 1.5em
  border 0.25em #002b36 solid

.med
  font-size 150%

.big
  font-size 200%

.huge
  font-size 500%

.center
  padding 0.25em
  text-align center
