      
head
  link(rel="stylesheet" href="/css/bootstrap.css")
  link(rel="stylesheet" href="/css/main.css")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  link(rel="icon" href="favicon.png")


  title School Projects

body
  != yield
