.adTitle
  padding-top 0.25em
  font-size 1.75em

.adMessage
  font-size 1em

.ad
  border 0.375em #002b36 solid
  text-align center
  margin 0.5em
  background-color #2aa198
  color #dc322f
  
.ad:hover
  animation-name goldenAnim
  animation-duration 3s
  animation-fill-mode forwards

@keyframes goldenAnim
  from
    color #dc322f
    background-color #2aa198
    border 0.375em #002b36 solid
  to
    color #2aa198
    background-color #dc322f
    border 0.375em #b58900 solid
